<form method="post" action="/admin/new_post">
  
<div class="new_post">Title  <input name="title"></div>
<div class="new_post">Body   <textarea rows="4" cols="50" name="content"> </textarea> </div>
<div class="new_post">Author 
  <select name="user_id">
  <% users = User.find(:all) %>
    <% users.each  do |u| %>
      <option value="<%= u.id %>"><%= u.username %></option>
    <% end %>
  </select>
</div>
<input type="submit">
  
</form>