<form method="post" action="/new_user">
  
<div class="new_user">First Name  <input name="first_name"></div>
<div class="new_user">Last Name  <input name="last_name">  </div>
<div class="new_user">Username  <input name="username"></div>

<input type="submit">
  
</form>