<div class="users">
  <table class = "user_table">
    <thead>
      <tr>
        <td>Full Name</td>
        <td>Username</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.first_name %> <%= u.last_name %></td>
          <td><%= u.username %></td>
          <td><a href="/admin/edit_user/<%= u.id %>">Edit User</td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <a href="/admin/new_user">Create New User</a>
</div>
  