html{
   font-size:13px;
}

body {
   background-color:white;
   width: 90%;
	margin:0 auto;
   font-size:1em;
}

a:link {color:#5E2816; text-decoration:none;}      /* unvisited link */
a:visited {color:#5E2816; text-decoration:none;}  /* visited link */
a:hover {color:#5E2816; text-decoration:none;}  /* mouse over link */
a:active {color:#5E2816; text-decoration:none;}  /* selected link */

header{
   background-color: #DBE8D6;
   border-radius:10px;
   text-indent:30px;
   box-shadow: 4px 4px 5px;
   height:4em;
   
}

.blog_name{
   vertical-align:middle;
   font-size:2em;
   color:#5E2816;
}

.content{
	width:70%;

	margin:0 auto;
   float:left;
   box-shadow: 5px 4px 5px;
   background-color: #BA9462;
   border-radius:10px;
   text-indent:30px;
   margin:15px auto;
   padding:0.6em;
}
.sidebar{
   width:25%;
   float:right;
   background-color: #BA9462;
   border-radius:10px;
   box-shadow: 5px 4px 5px;
   margin:15px auto;
   padding:0.6em;
}

.posts_head{
   margin:15px;
}

.post_title{
   box-shadow: 4px 4px 5px;
   font-size:2em;
   background-color: #DBE8D6;
   border-radius:10px;
   text-indent:30px;
   margin:15px;
}

.post_content, .comments{
   background-color: #9A7442;
   box-shadow: 4px 4px 5px;
   font-size:1.2em;
   border-radius:10px;
   text-indent:30px;
   margin:15px;
   padding:15px;
}

.post, .settings, .posts, .pages, .users{

}

.comment{
   background-color: #7A5422;
   box-shadow: 4px 4px 5px;
   font-size:1.2em;
   border-radius:10px;
   text-indent:30px;
   margin:15px;
   padding:15px;
}

.user_table{
   border:0px solid black;
}

.user_table thead tr td{
   
}
.user_table tbody tr{
   outline: 1px solid black;
}
input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 150px;
    box-shadow: 2px 2px 0 #828181 inset;
	 margin:10px;
	 text-align:center;
	 font-size:20px;
	 text-color:black;
}