

body {
   background-color:#636363;
   width: 90%;
	margin:0 auto;
}



.content{
	width:70%;

	margin:0 auto;
   float:left;
}
.sidebar{
   width:25%;
   float:right;
}

.post_title{
   font-size:2em;
   
}
.post_content{
   font-size:1.2em;
   
}

.user_table{
   border:2px solid black;
}

.user_table thead tr td{
   border: 1px solid blue;
}
.user_table tbody tr{
   outline: 1px solid blue;
}
input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 150px;
    box-shadow: 2px 2px 0 #828181 inset;
	 margin:10px;
	 text-align:center;
	 font-size:20px;
	 text-color:black;
}