<html>
	<head>
		<title><%= @set.site_title %></title>
		<link rel = "stylesheet" type="text/css" href="/animate.css">	
		<link rel = "stylesheet" type="text/css" href="/theme.css">	

    <a href="/">
    <H1 class = "blog_name"><%= @set.site_name %></H1>
    </a>
    <h3>

 
      
      
      </H3>
	</head>
	<body>
    <div class="content">
        <%= yield %>
    </div>
    <div class="sidebar">
        <a href="/settings">Settings</a>  <br>
        <a href="/users">Users</a>  <br>
        <a href="/posts">Posts</a>  <br>
        <a href="/pages">Pages</a>  <br>
    </div>
	</body>
  
</html>
