<html>
	<head>
		<title><%= @set.site_title %></title>
		<link rel = "stylesheet" type="text/css" href="/animate.css">	
		<link rel = "stylesheet" type="text/css" href="/theme.css">	

    
    <H1 class = "blog_name"><%= @set.site_name %></H1>
    <h3>
      <a href="/">Home</a>  
      <a href="/settings">Settings</a>  
      <a href="/users">Users</a>  
      <a href="/posts">Posts</a>  
      <a href="/pages">Pages</a>  
      
      
      </H3>
	</head>
	<body>

<%= yield %>

	</body>
</html>
