<html>
	<head>
		<title><%= @set.site_title %></title>
		<link rel = "stylesheet" type="text/css" href="theme.css">	
		<link rel = "stylesheet" type="text/css" href="animate.css">	
    
    <H1 class = "blog_name"><%= @set.site_name %></H1>
	</head>
	<body>

<%= yield %>

	</body>
</html>
