<% @posts.each do |p| %>
  <a href="/post/<%= p.id %>">
    <div class="post_title"><%= p.title %></div> 
  </a>
    By <%= p.user.username %> : <%= p.created_on %>
  
<% end %>

<br>
<a href="/new_post">New Post</a>